/*header*/
.jumbotron {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.jumbotron h1 {
  color: #ffffff;
}

.jumbotron p {
  color: #e9e9e9;
}
